<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>scroll0</string>
	<string>scroll1</string>
	<string>scroll2</string>
	<string>scroll3</string>
	<string>scroll4</string>
</array>
</plist>
