<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellName</key>
		<string>生成二维码</string>
		<key>imageName</key>
		<string>generateQRCode</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>扫描二维码</string>
		<key>imageName</key>
		<string>scanQRCode</string>
	</dict>
</array>
</plist>
