<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cellName</key>
		<string>生成二维码</string>
		<key>imageName</key>
		<string>generateQRCode</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>扫描二维码</string>
		<key>imageName</key>
		<string>scanQRCode</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>切换图标</string>
		<key>imageName</key>
		<string>changeIcon</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>3D touch 展示</string>
		<key>imageName</key>
		<string>3DTouch</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>指纹识别</string>
		<key>imageName</key>
		<string>touchID</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>手势解锁</string>
		<key>imageName</key>
		<string>gestureCode</string>
	</dict>
	<dict>
		<key>cellName</key>
		<string>医学影像</string>
		<key>imageName</key>
		<string>MedicalImaging</string>
	</dict>
</array>
</plist>
